.message {
    margin: 10px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.imageAndText {
    display: inline-flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.imageAndText img {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.text {
    position: relative;
    height: 65px;
    width: 470px;
    color: #DDEEFF;
    background-color: #0289f7;
    border-radius: 10px 10px 0px 10px;
}

.text:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 100%;
    display: block;
    width: 30px;
    height: 30px;
    background: radial-gradient(60px at top right, transparent 51%, #0289f7 53%) no-repeat right bottom;
}

.name {
    justify-content: flex-end;
    display: flex;
    color: #DDEEFF;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.messageText {
    justify-content: flex-start;
    display: flex;
    margin-left: 10px;
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
}

.time {
    margin-left: 5px;
    display: flex;
    color: black;
}